<?xml version="1.0" encoding="ISO-8859-1"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:j2ee = "http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee  http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

    <filter>
        <filter-name>SwaggerFilter</filter-name>
        <filter-class>com.github.tminglei.swagger.SwaggerFilter</filter-class>

        <!-- enable/disable swagger, default value: true
        <init-param>
            <param-name>enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        -->

        <init-param>
            <param-name>scan-packages-and-classes</param-name>
            <param-value>com.example.resource; com.example.Bootstrap</param-value>
        </init-param>

        <!-- specify the requestURI relative to base path, to fetch your swagger json, default '/swagger.json'
        <init-param>
            <param-name>swagger-uri</param-name>
            <param-value>/swagger.json</param-value>
        </init-param>
        -->

        <!-- configure your custom mapping converter
        <init-param>
            <param-name>mapping-converter</param-name>
            <param-value>com.company.pkg.MyMappingConverter</param-value>
        </init-param>
        -->

        <!-- enable/disable mock data generation, default value: true
        <init-param>
            <param-name>fake-enabled</param-name>
            <param-value>false</param-value>
        </init-param>
        -->

        <!-- configure your custom url router used by `binder-swagger-java`
        <init-param>
            <param-name>url-router</param-name>
            <param-value>com.company.pkg.MyRouter</param-value>
        </init-param>
        -->

        <!-- configure your custom data writer used by `binder-swagger-java`
        <init-param>
            <param-name>data-writer</param-name>
            <param-value>com.company.pkg.MyDataWriter</param-value>
        </init-param>
        -->
    </filter>
    <filter-mapping>
        <filter-name>SwaggerFilter</filter-name>
        <url-pattern>/api/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>jersey</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.example.resource;io.swagger.jaxrs.listing</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.spi.container.ContainerRequestFilters</param-name>
            <param-value>com.sun.jersey.api.container.filter.PostReplaceFilter</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>com.sun.jersey.config.feature.DisableWADL</param-name>
            <param-value>true</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>jersey</servlet-name>
        <url-pattern>/api/*</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>Bootstrap</servlet-name>
        <servlet-class>com.example.Bootstrap</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>
</web-app>
